body {
	background-color:black; font-family:timesnewroman; text-align:center
}
h1 {
	color:red; font-size:250%; border: 2px solid red;
}
p {
	color:red;
}
a:hover, a:active{
	background-color:white;
}
a{
	color:red;
}